<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CS340 - StoryTale Streamer E-Books</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <nav>
            <h1>StoryTale E-Books</h1>
            <a href="/">Home</a>
            <a href="/members">Members</a>
            <a href="/books">Books</a>
            <a href="/coupons">Coupons</a>
            <a href="/orders">Orders</a>
            <a href="/booksAndOrders">Books And Orders</a>
        </nav>

        {{{body}}}

    </body>
</html>

// Citation for the following function:
// Date: 2/01/2026
// Copied from /OR/ Adapted from /OR/ Based on:
// Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-overview-of-the-web-application-development-process?module_item_id=26243420
