<h1>Home Page</h1>
<div class="homepageDescription">
    <p><strong>Developed by Erika Brown and Benjamin Smithynunta</strong></p>
    <p>Storytale eBooks sells $ 5 million digital books annually. To track the sales and utilization of digital books,
    the database records the relationship between coupons and orders. Each order can utilize exactly one coupon. There
    can be multiple books per order. The current management system for Storytale eBooks is insufficient for the scale of
    its annual sales and transaction volume. A back-end database with their website would improve the reliability of
    day-to-day operations. The database is in 3NF. </p>
</div>

{{!--
    Citation for the following function:
    Date: 2/01/2026
    Copied from /OR/ Adapted from /OR/ Based on:
    Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-overview-of-the-web-application-development-process?module_item_id=26243420
--}}
